@import '../../../styles.scss';

.background-color {
  background-color: $background-color;
}
.ml-auto {
    margin-left: auto;
  }
hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 1.5rem 0;
}