<aside class="sidebar-container">
  <div class="sidebar-header text-center py-2">
    <div class="d-flex align-items-center justify-content-center">
        <img src="../../../assets/images/logo_icon.png" alt="Logo" class="img-fluid mb-2" style="width: 25px; height: 25px;">
        <h4 class="ml-2 mb-0">MediControl</h4>
    </div>
  </div>
  <div class="sidebar-user text-center py-4">
    <img src="../../../assets/images/user.jpg" alt="User" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">
  </div>
  <div class="sidebar-search">
    <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search-icon">
            <i class="bi bi-search"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="search-icon">
    </div>
  </div>
  <ul class="nav flex-column py-2">
    <li class="nav-item">
      <a class="nav-link body-m" href="recipe">
        <i class="bi bi-file-earmark-text"></i> Recetas
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active body-m" href="/home">
        <i class="bi bi-people"></i> Pacientes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link body-m" href="/login">
        <i class="bi bi-box-arrow-left"></i> Salir
      </a>
    </li>
  </ul>
</aside>
