<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    <div class="card p-4">
      <h2 class="mb-3">¿Olvidó su contraseña?</h2>
      <p class="mb-4 body-l">No hay nada de qué preocuparse, te enviaremos un mensaje para ayudarte a restablecer tu contraseña.</p>
      <form (submit)="onSubmit()">
        <div class="form-group">
          <label class="body-s" for="email">Email</label>
          <input type="email" class="form-control" [ngClass]="{'error-input': isEmailError}" id="email" placeholder="Ingrese su dirección de email">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Enviar link de recuperación</button>
      </form>
    </div>
  </div>